<div class="container mt-5">
    <div class="row">
        <div class="col-md-3 btn btn-primary" [routerLink]="['/smart/addTask']"><a class="btn">Add Task</a></div>
        <!-- <div class="col-md-3 btn btn-primary" (click)="onTaskAdd()"><a class="btn">Add Task</a></div> -->
        <div class="col-md-3 btn btn-secondary"><a class="btn">Task List</a></div>
        <div class="col-md-3 btn btn-success"><a class="btn">View Task</a></div>

    </div>
    <!-- <app-add-task *ngIf="isClickOnaddOrView"></app-add-task> -->
    <!-- <app-add-task></app-add-task> -->
    <router-outlet></router-outlet>
</div>